<% title t('.title') %>
<%# @virtual.inspect %>
<%# @non_virtual.inspect %>

<div class="row">
  <ul class="nav nav-tabs"  role="tablist">
    <li role="presentation" class="active"><a href="#virtual" aria-controls="virtual" role="tab" data-toggle="tab">Virtual (Basic)</a></li>
    <li role="presentation"><a href="#non_virtual" aria-controls="non_virtual" role="tab" data-toggle="tab">Non-virtual (Advanced)</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active tree" id="virtual">
      <%= Category.tree_out(true, false, "category-virtual-list").html_safe %>
    </div>
    <div role="tabpanel" class="tab-pane tree" id="non_virtual">
      <%= Category.tree_out(false, false, "category-non_virtual-list").html_safe %>
    </div>
  </div>
</div>
