<% title t('.title') %>
  <% if current_user.is? :super_admin %>
     <div class="col-sm-12">
      <ul class="standard">
        <li><%= link_to t('.parties'), admin_parties_path %></li>
        <li><%= link_to t('.datasets'), admin_datasets_path %></li>
        <li><%= link_to t('.donorsets'), admin_donorsets_path %></li>
        <% if current_user.deffereds.present? %>
          <% current_user.deffereds.each{ |c| %>
            <li><%= link_to t('.deffereds'), bulk_admin_parties_path(id: c._id) %></li>
          <% } %>
        <% end %>

        <!-- <li><%#= link_to t('.page_contents'), admin_page_contents_path %></li> -->
        <!-- <li><%#= link_to t('.users'), admin_users_path %></li> -->
      </ul>
    </div>
  <% end %>
