<%- if @missing %>
  <div class="container not-found"><span><%= t('shared.msgs.data_not_found') %></span></div>
<%- else %>
  <div id="chart" class="container loader"></div>
<%- end %>
<%= link_to "pins.ge", root_url, class: 'pins' %>
