<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
   <head>
      <title>Share test title</title>
      <meta charset="utf-8">
      <meta property="og:title"content="Share test title" />
      <meta property="og:site_name" content="Site Name" />
      <meta property="og:image" content="" />
      <meta property="og:description" content="<%= "#{@inner_pars.join(";")}" %>" />
      <meta property="og:url" content="<%= request.fullpath %>" />
      <meta property="og:type"   content="website" />
      <%= favicon_link_tag '/favicon.png', :rel => 'shortcut icon' %>
   </head>
   <body>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ipsa harum consequatur quis quam autem vitae ducimus delectus, tempora temporibus dolor sed excepturi, aut ab explicabo ratione. Sequi, quaerat placeat.
   </body>
</html>
