.actions-3 {
  min-width:166px;
}
.help-block {
  font-size: 11px;
}
abbr[title], abbr[data-original-title] {
  border: 0;
  padding-left: 2px 4px 2px 2px;
  color: #FF6C6C;
}
.available-locales-box {
  position:relative;
}
.available-locales {
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
}
.available-locales span {
  padding: 2px 4px 2px 2px;
  font-size: 11px;
  color: #929292;
}
#toggle_type {
  display:inline-block;
  float:right;
}
#toggle_type label {
  padding:0px 8px;
}
#toggle_type label input {
  margin-right: 3px;
}
.state-pending {
  background-color:#D4F9FF;
}
.state-processed {
  background-color:#D4FFD4;
}
.state-discontinued {
  background-color:#FFD4D4;
}

.badge {
  background-color: #30D845;
}
.badge-notifier {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.tree {
  ul {
    margin:0;
    padding:0;
    list-style:none;
    ul {
      padding:0 0 0 20px;
    }
  }
  .box {
    padding:2px 10px 2px 20px;
    &:hover, label:hover {
      background-color:#E6F6FF;
      cursor:pointer;
    }


    &.inner {
      background: url(/assets/toggle-small.png) no-repeat 0px 5px/16px;
    }
    &.inner:hover {
      background:#E6F6FF url(/assets/toggle-small.png) no-repeat 0px 5px/16px;
    }

    &.inner.closed {
      background: url(/assets/toggle-small-expand.png) no-repeat 0px 5px/16px;
    }

    &.inner.closed:hover {
      background:#E6F6FF url(/assets/toggle-small-expand.png) no-repeat 0px 5px/16px;
    }
    &.inner.closed + ul {
      display:none;
    }
  }

  .info {
    float:right;
  }

}
.tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 6px 10px;
}
