dialog {
  display:none;
  background-color:transparent;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  padding:0;
  border:0;
  margin:0;
  z-index:99;
  font: 14px firasans_l;
  color: #5D675B;
}
dialog.active {
  display:inline-block;
}
dialog .bg {
  width:100%;
  height:100%;
  /*background-color:rgba(0,0,0,.35);*/
  background-color: #343477;
  opacity:.35;
  z-index:100;
}
dialog section {
  display:none;
  background-color: #fff;
  width: auto;
  min-width:360px;
  min-height:200px;
  height: auto;

  border:1px solid #d8d8d8;
  position:absolute;
  // top:50%;
  // left:50%;
  // -webkit-font-smoothing: antialiased;
  // transform:translate3d( 0, 0, 0);
  // -webkit-transform: perspective(1px) translate3d(-50%,-50%,0) !important;
  // transform: perspective(1px) translate3d(-50%,-50%,0) !important;
  // transform:translate(-50%, -50%);
  z-index:101;
  max-height: 100%;
  overflow-y: auto;
}
dialog section.active {
  display:flex;
  flex-direction:column
}
dialog section .caption {
  font: 20px firasans_book;
  padding:10px 20px 9px 16px;
  border-bottom: 1px dashed #a9afa8;
}
/*dialog section .sp {
  padding: 0 20px 0 10px;
}*/
/*dialog section .sp:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
}*/
dialog section .content {
  padding:20px 20px 19px 16px;
  max-width:768px;
  height:100%;
}
dialog section > div {
  flex:1;
}
dialog section .button {
  text-align: center;
  padding: 8px;
  align-self: center;
}
dialog {
  textarea {
    font:12px firasans_r;
    color:#5D675B;
    background-color:#fff;
    padding:6px 10px;
    border:1px solid #F78E69;
    outline:none;
    width:100%;
    resize: none;
  }
  select {
    font:12px firasans_r;
    color:#5D675B;
    background-color:#fff;
    padding:6px 10px;
    border:1px solid #F78E69;
    outline:none;
    height:31px;
  }
  button {
    display: block;
    font: 14px firasans_b;
    color: #5D675B;
    background-color: #fff;
    border: 1px solid #C5CEC2;
    padding: 8px 18px;
    margin: 0px auto;
    &:hover, &:focus {
      color: #5D675B;
    }
  }
  input {
    font:12px firasans_r;
    color:#5D675B;
    background-color:#fff;
    padding:6px 10px;
    border:1px solid #F78E69;
    outline:none;
    height:31px;
    width:60px;
    &.datepicker {
      max-width:100px;
    }
    &[type='checkbox'] {
      width:auto;
    }
    &[type='checkbox'] {
      border:1px solid #F78E69;
      border-radius:0;
    }
  }
}

.dialog-embed {
  .content {
    > label {
      display: block;
      padding-bottom: 6px;
    }
    label {
      font: 14px firasans_l;
      color: #5D675B;
      text-align: left;
      padding-right: 16px;
    }
  }
  .embed-size, .embed-type {
    margin-top:10px;
  }
  .iframe-custom {
    display:inline-block;
  }
  .copied {
    display:none;
    text-align: right;
  }
  .embed-type {
    .toggle-group {
      display:inline-block;
      .toggle {
        display:inline-block;
        border-left-width:0;
        border-right-width:0;
        &:first-of-type {
          border-left-width:1px;
        }
        &:last-of-type {
          border-right-width:1px;
        }
      }
      &[data-toggle='dynamic'] .toggle[data-toggle='dynamic'],
      &[data-toggle='static'] .toggle[data-toggle='static'] {
        background-color: #F78E69;
        color:#fff;
      }
    }
    .hint {
      display: block;
      font: 12px firasans_l;
      color: #5D675B;
      margin-top:6px;
    }
  }
}

.dialog-share {
  .content {
    label {
      display: block;
      font: 14px firasans_l;
      color: #5D675B;
      text-align: left;
      display:block;
    }
    .facebook, .twitter, .more {
      display: block;
      text-align: center;
      vertical-align:top;
      margin-top: 6px;
      a {
        color:#fff;
        line-height: 32px;
      }
      img {
        vertical-align: top;
        padding-right: 6px;
      }
    }
    .facebook a {
      background-color:#355EA8;
      display: inline-block;
      min-width: 200px;
      padding: 6px 10px;
    }
    .twitter a {
      background-color:#0EA3C6;
      display: inline-block;
      min-width: 200px;
      padding: 6px 10px;
    }
    .more .at-share-btn {
      min-width: 200px;
    }
  }
}
