body.root.about{
  .about-summary{
    background:image-url('about.png') no-repeat bottom center;
    background-size: cover;
    height: 400px;
    // margin: -100px -42px 25px -42px;
    // position: relative;
    display:flex;
    flex-direction:row;

    .about-summary-text{
      align-self: center;
      max-width:1024px;
      margin: 0 auto;
      font:18px/22px firasans_book;
      text-align: center;
      color: #fff;
      p{
        margin-bottom: 10px;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }

  }

  h2{
    padding:20px 60px 10px 0;
    font:28px firasans_b;
    color:#2F332F;
  }

  h3{
    color:#F78E69;
    font:20px firasans_b;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .section{
    padding:25px 42px;
    font:16px/22px firasans_book;
    p{
      margin-bottom: 10px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
    .content-sponsors {
      a {
        display:inline-block;
        padding:10px;
        img {
          height:84px;

        }
      }
    }
  }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}

// @media screen and (max-width: 1500px) {
//   body.root.about{
//     .about-summary{
//       height: 350px;

//       .about-summary-text{
//         padding-top: 125px;
//         margin: 0 15%;
//       }
//     }
//   }
// }

// @media screen and (max-width: 1200px) {
//   body.root.about{
//     .about-summary{
//       height: 300px;

//       .about-summary-text{
//         padding-top: 125px;
//         font-size: 16px;
//         margin: 0 10%;
//       }
//     }
//   }
// }

// @media screen and (max-width: 1081px) {
//   body.root.about{
//     .about-summary{
//       height: 275px;

//       .about-summary-text{
//         padding-top: 90px;
//         font-size: 16px;
//         margin: 0 10%;
//       }
//     }
//   }
// }

// @media screen and (max-width: 992px) {
//   body.root.about{
//     .about-summary{
//       height: 275px;

//       .about-summary-text{
//         padding-top: 80px;
//         font-size: 16px;
//         margin: 0;
//       }
//     }
//   }
// }

// @media screen and (max-width: 850px) {
//   body.root.about{
//     .about-summary{
//       height: 300px;

//       .about-summary-text{
//         padding-top: 75px;
//         font-size: 14px;
//         margin: 0 20px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 650px) {
//   body.root.about{
//     .about-summary{
//       height: 300px;

//       .about-summary-text{
//         padding-top: 60px;
//         font-size: 14px;
//         margin: 0 20px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 575px) {
//   body.root.about{
//     .about-summary{
//       height: 350px;

//       .about-summary-text{
//         padding-top: 60px;
//         font-size: 12px;
//         margin: 0 20px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 400px) {
//   body.root.about{
//     .about-summary{
//       height: 425px;

//       .about-summary-text{
//         padding-top: 60px;
//         font-size: 12px;
//         margin: 0 20px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 350px) {
//   body.root.about{
//     .about-summary{
//       height: 500px;

//       .about-summary-text{
//         padding-top: 60px;
//         font-size: 12px;
//         margin: 0 20px;
//       }
//     }
//   }
// }

