/*
The CSS for this project is written according to the Trello CSS Style Guide.
Please read the style guide before making changes to the project.

URL: https://gist.github.com/bobbygrace/9e961e8982f42eb91b80
*/

/*
  *= require reset
  *= require fonts
  *= require formtastic
  *= require formtastic-bootstrap

  *= require select2
  *= require select2-bootstrap

  *= require jquery-ui/datepicker

  require dataTables/jquery.dataTables
  *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
  *= require dataTables/extras/dataTables.responsive
*/

@charset 'UTF-8';
@import 'variables';
@import 'media-queries';

* {
  box-sizing:border-box;
}
.navbar {
  .container {
    position: relative;
    height:72px;
    background-color:$nav-color;
  }
  .navbar-collapse {
    display:none;
  }
  .navbar-toggle {
    cursor:pointer;
  }
  .navbar-left {
    display:inline-block;
    width:50%;
    vertical-align: top;
    &.active {
      background-color:#367652;
      .navbar-menu-collapse {
        display:block;
        position:absolute;
        width:100%;
        background-color:#367652;
        padding:50px 0 15px 0;
      }
    }
    .navbar-nav {
      li {
        display:block;
        width:100%;
        text-align:center;
        a {
          display:inline-block;
          width:100%;
          padding:12px 0;
          font: 20px donaneue_u;
          color:#fff;
          text-decoration:none;
          &:hover {
            background-color:#fff;
            color:#88D877;
          }
        }
      }
    }
  }
  .navbar-right {
    display:inline-block;
    width:50%;
    vertical-align: top;
    text-align: right;
    position:relative;
    &.active {
      background-color:#367652;
      .navbar-toggle {
        span {
          display:none;
        }
      }
      .navbar-lang-collapse {
        position:absolute;
        left:68px;
        right:0px;
        display:block;
        padding:0px 0 6px 0;
        background-color:#367652;

      }
    }
    .navbar-nav {
      li {
        display:block;
        padding:6px 18px;
        text-align:center;
        a {
          font:14px dejavusans_c;
          color:#afc8ba;
          text-decoration:none;
          width:100%;
          &:hover {
            color:#fff;
          }
          .short {
            display:none;
          }
        }
        &.sep {
          display:none;
          pointer-events:none;
        }
        &.active {
          a {
            color:#fff;
          }
        }
      }
    }

  }
  .navbar-toggle {
    background-color: transparent;
    border: 0;
    padding: 9px 10px 9px 0;
    outline: none;
    height: 72px;
    .icon-bar {
      background-color: #fff;
      display: block;
      width: 30px;
      height: 5px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      & + .icon-bar {
        margin-top: 9px;
      }
    }
  }
  .navbar-brand {
    position: absolute;
    display:inline-block;
    margin: 0px auto;
    left: 50%;
    transform: translateX(-50%);
    width:136px;
    height:109px;
    background-color:#fff;
    border:1px solid $nav-color;
    border-top:0;
    text-align:center;
    z-index: 3;
    img {
      width:100px;
      height:109px;
    }
  }
  .navbar-nav {

  }

  .navbar-lang-toggle {
    font: 16px dejavusans_c;
    color:#fff;
    padding:16px 0px 12px 0;
    margin:0;
    span {
      vertical-align: top;
      position: relative;
      top: 10px;
    }
    .icon-earth {
      width:20px;
      height:40px;
    }
  }
}
// main {
//   padding:50px 0;
// }
.footer {
  background:#F4F3EA url(/assets/footer/pattern.svg);
  padding:26px 24px 34px;
  .footer-left {
    .footer-logo {
      width:90px;
      height:75px;
    }
    .footer-share {
      margin:20px 0 0 0;
      float:right;
      a {
        padding:0px 3px;
      }
    }
    .footer-summary {
      display:block;
      clear:both;
      font:16px/22px firasans_book;
      color:#5D675B;
      padding:20px 0 40px;
      border-bottom:1px dashed #c6c9bf;
    }
  }
  .footer-center {
    .footer-share {
      display:none;
    }
  }
  .footer-right {
    margin:20px 0 0 0;
    > div {
      margin:12px 0 0 0;
      div {
        display:table-cell;
        vertical-align: middle;
        img {
          float:left;
        }
      }
      a, > span {
        display:table-cell;
        font:18px firasans_book;
        color:#5D675B;
        text-decoration:none;
        white-space:normal;
        width:100%;
        padding:6px 0 0 14px;

      }

    }
  }
  /* Pop */
    @-webkit-keyframes pop {
      50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }

    @keyframes pop {
      50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }

  .pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  .pop:hover, .pop:focus, .pop:active {
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {
  .navbar {
    .navbar-toggle {
      display:none;
    }
    .navbar-brand {
      margin:0;
      left:42px;
      transform:none;
      width:167px;
      height:145px;
      background-color:#fff;
      border:1px solid $nav-color;
      border-top:0;
      text-align:center;
      z-index: 3;
      img {
        width:100px;
        height:145px;
      }
    }
    .navbar-collapse {
      display:inline-block;
    }
    .navbar-left {
      display:table-cell;
      width:100%;
      .navbar-collapse {
        width:100%;
      }
      .navbar-nav {
        margin-left:209px;
        li {
          display:table-cell;
          width:auto;
          text-align:center;
          padding:0 40px;
          a {
            display:inline-block;
            padding:24px 18px 0;
            height:72px;
            white-space:nowrap;
          }
        }
      }
    }
    .navbar-right {
      display:table-cell;
      width:auto;
      white-space:nowrap;
      padding-right:10px;
      .navbar-nav {
        li {
          display:inline-block;
           padding:26px 1px 0;
          a {
            color:#579d61;
            &:hover {
              color:#367652;
            }
            .short {
              display:block;
            }
            .long {
              display:none;
            }
          }
          &.sep {
            display:inline-block;
            color:#367652;
          }
          &.active {
            a {
              color:#367652;
            }
          }
        }
      }
    }
  }
  .footer {
    padding:40px 24px 26px 42px;
    .footer-left {
      display:table-cell;
      width:50%;
      padding:0 80px 0 0;
      .footer-share {
        display:none;
      }
      .footer-summary {
        padding:20px 0;
        border-bottom:0;
      }
    }
    .footer-center {
      display:table-cell;
      border-left:1px dashed #c6c9bf;
      border-right:1px dashed #c6c9bf;
      padding:0px 80px;
      vertical-align: middle;
      .footer-share {
        display:block;
        margin:0;
        a {
          display:block;
          padding:6px 0;
        }
      }
    }
    .footer-right {
      display:table-cell;
      width:50%;
      padding:0 0 0 80px;
      vertical-align: middle;
    }
  }
}
@media (min-width: 1200px) {

}
