<%- model_class = User -%>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.user', count: 1)) %>

<div class='actions'>
  <%= view_button(@user, admin_user_path) %>
  <%= view_all_button(@user) %>
</div>

<%= render partial: 'form' %>
