<footer class='app-footer'>
  <p class='app-footer-left'>&copy; <%= Time.now.year %></p>
  <%= link_to image_tag('jumpstart-logo.png', class: 'app-footer-right'),
              'http://jumpstart.ge',
              target: '_blank',
              title: t('shared.common.jumpstart.slogan') %>
</footer>
