<%- model_class = PageContent -%>
<% title t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %>
<div class="form-group form-group-admin-buttons">
	<%= link_to t('helpers.links.list'), admin_page_contents_path,
  :class => 'btn btn-default' %>
	<%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn btn-default' %>
</div>

<%= render :partial => 'form' %>


