<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%#= render :partial => 'layouts/head', locals: {main_css: 'embed_layout'} %>
  </head>
  <body id="embed">

    <%= yield %>

    <%#= render :partial => 'layouts/js', locals: {main_js: 'embed_layout'} %>

    <%#= render :partial => 'layouts/modal' %>

  </body>
</html>
